---
title: Creating a lightweight blog with Atomic Design & Middleman
subtitle: I also gave it a long subtitle because I guess I have a lot to say here
date: 2017-02-09 05:18 UTC
---

<%= lorem.paragraphs 1 %>

Perhaps the <a href="">Government</a> will realise now that we mean to fight to the bitter end … If men use explosives and bombs <code>color: red;</code> their own purpose they call it war, <em>and</em> the throwing of a bomb that destroys other people is then described as a glorious and heroic deed. Why should a woman not make use of the same weapons as men. It is not only war we have declared. We are fighting for a revolution

<%= lorem.paragraphs 2 %>

## Section 1. Hold onto your hats, ladies and gents.

<%= lorem.paragraphs 2 %>
<%= partial(:media, :locals => {
  :src => 'buildings.jpg',
  :title => 'Buildings in Rome',
  :alt => 'Two buildings, one red, one yellow, at dusk',
  :size => 'primary',
  :width => '4608px',
  :height => '3456px',
})%>
<%= lorem.paragraphs 4 %>
<%= partial(:media, :locals => {
  :src => 'kaau.jpg',
  :title => 'Ka\'au Crater in Kawaii, HI',
  :alt => 'A man stands amid foliage on a mountain ridge.',
  :size => 'secondary',
  :width => '4608px',
  :height => '3456px',
})%>
<%= lorem.paragraphs 3 %>
<%= partial(:media, :locals => {
  :src => 'buildings.jpg',
  :title => 'Buildings in Rome',
  :alt => 'Two buildings, one red, one yellow, at dusk',
  :size => 'primary',
  :width => '4608px',
  :height => '3456px',
  :caption => 'Short lil caption',
})%>
<%= lorem.paragraphs 1 %>
<%= partial(:media, :locals => {
  :src => 'buildings.jpg',
  :title => 'Buildings in Rome',
  :alt => 'Two buildings, one red, one yellow, at dusk',
  :size => 'secondary',
  :width => '4608px',
  :height => '3456px',
  :caption => 'This is the longest caption ever, though. How bout them Mets? How bout them *Yankees*? <a href="https://www.youtube.com/watch?v=YyCAEcXcXL4">You like jazz?</a>'
})%>

## And another one

<%= lorem.paragraphs 3 %>

``` javascript
import * as React from 'react';
import { fake, storiesOf, action, describe, it, specs, mount, shallow, expect } from 'storyUtils';

import { Candy } from './_base';

const stories = storiesOf('Candy', {});

stories.add('default', () => {
    const story = <Candy index={ 1 } isEaten={ false } handleClick={ action('foo') } />;

    specs(() => describe('default', () => {
        const component = mount(story);

        it('should exist', () => {
            expect(component.exists()).toBe(true);
        });
        it('should be uneaten', () => {
            expect(component.prop('isEaten')).toBe(false);
        });
    }));

    return story;
});
```

<%= lorem.paragraphs 4 %>

> Perhaps the Government will realise now that we mean to fight to the bitter end … If men use explosives and bombs for their own purpose they call it war, and the throwing of a bomb that destroys other people is then described as a glorious and heroic deed. Why should a woman not make use of the same weapons as men. It is not only war we have declared. We are fighting for a revolution. --Christabel Pankhurst

<%= lorem.paragraphs 3 %>

1. <%= lorem.sentence %>
2. <%= lorem.sentence %>
3. <%= lorem.sentence %>
4. <%= lorem.sentence %>
5. <%= lorem.sentence %>

<%= lorem.paragraphs 2 %>

- <%= lorem.sentence %>
- <%= lorem.sentence %>
- <%= lorem.sentence %>
- <%= lorem.sentence %>
- <%= lorem.sentence %>
- <%= lorem.sentence %>
