<% wrap_layout :layout do %>
  <article aria-labelledby="article-title">
    <div id="article-heading" role="heading">
      <h1 id="article-title">
        <%= current_page.data.title %>
      </h1>
      <% if current_page.respond_to?(:date) %>
        <div id="article-info">
            <span class="article-info-piece" id="article-subtitle">
              <%= current_page.data.subtitle %>
            </span>
          <span class="article-info-piece" id="article-date" aria-label="Published <%= current_page.date.strftime('%B %d, %Y') %>">
            <%= current_page.date.strftime('%-m.%-d.%Y') %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </article>
<% end %>
