<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <%= partial(:"layouts/partials/meta") %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= partial(:"layouts/partials/fonts") %>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-92096829-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <title><% if current_page.data.title && current_page.url != '/' %><%= current_page.data.title %> | <% end %>hey it's violet</title>
    <%= stylesheet_link_tag :styles, :media => "screen" %>
  </head>
  <body<% if current_page.url == '/' %> id="home"<% end %>>
    <%= partial(:"layouts/partials/header", :locals => { :type => current_page.data.type }) %>
    <main<% if current_page.url == '/' %> class="main-home"<% end %>>
      <%= yield %>
    </main>
    <%= partial(:"/layouts/partials/footer", :locals => { :showIndex => current_page.data.type != "index" }) %>
  </body>
</html>
